* {
    margin: 0 auto;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
header {
    width: 1440px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
header button {
    padding: 10px;
    font-size: 20px;
    color: #33a8db;
    border: solid 1px;
    margin-top: 20px;
    width: 300px;
}
.banner {
    width: 1440px;
    height: 605px;
    box-sizing: border-box;
}
.banner h1 {
    color: #33a8db;
    font-size: 30px;
    text-transform: uppercase;
}
.logo {
    padding-top: 70px;
}
.banner-content p {
    font-size: 18px;
    color: white;
    padding-top: 10px;
}
.main {
    box-sizing: border-box;
}
#course-content {
    box-sizing: border-box;
    width: 1440px;
    color: white;
    box-sizing: border-box;
    padding-bottom: 20px;
    margin-top: -100px;
    background-color: rgb(0, 0, 0);
}
#course-content h2 {
    color: #33a8db;
    font-size: 30px;
    text-transform: uppercase;
}
#course-content p {
    width: 700px;
    font-size: 18px;
    color: white;
}
.module {
    background-color: rgb(23, 24, 23);
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}
.modules-list {
    background-color: rgb(0, 0, 0);
    width: 700px;
}
.module span {
    background-color: rgb(23, 24, 23);
    color: #33a8db;
}

#transform-world {
    background-image: url("imagens/woman-code.png");
    background-attachment: fixed;
    width: 1440px;
    height: 363px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
}
#transform-world .word {
    display: inline;
    margin-top: 150px;
    position: absolute;
    left: 300px;
}
#transform-world p {
    color: whitesmoke;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: 3px 3px blue;
}
#professional-challenges {
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}
#professional-challenges h2 {
    color: #33a8db;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 20px;
}
#professional-challenges img {
    margin-top: 40px;
}
#professional-challenges p {
    color: white;
    font-size: 16px;
    width: 700px;
    padding-bottom: 40px;
}
footer {
    padding-bottom: 30px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}
footer a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}
footer p {
    color: white;
    font-size: 16px;
}
